@model FBKA_v2.Models.ModUser
@{
    ViewBag.Title = "ConfirmDataTipado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConfirmDataTipado</h2>

<fieldset>
    <legend> Confirmar dados preenchidos!</legend>
    <div>
        <strong>Id do usuário: </strong>@Model.IdUser
    </div>
    <div>
        <strong>Nome: </strong>@Model.Name
    </div>
    <div>
        <strong>Email: </strong>@Model.Email
    </div>
    
</fieldset>
