
@{
    ViewBag.Title = "ConfirmData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>ConfirmData</h2>

<fieldset>
    <legend> Confirmar dados preenchidos!</legend>
    <div>
        <strong>Id do usuário: </strong>@ViewBag.IdUser
        <strong>Nome: </strong>@ViewBag.Name
        <strong>Email: </strong>@ViewBag.Email
    </div>

</fieldset>

